@use "/src/lib/util.scss" as *;

:root {
	color-scheme: light dark;
	font-family:
		$font,
		-apple-system,
		ui-sans-serif,
		system-ui,
		sans-serif;
	text-rendering: optimizelegibility;
	font-smooth: always;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: subpixel-antialiased;
	font-synthesis: weight style small-caps;
	color: light-dark($text-light, $text-dark);
	background-color: light-dark($background-light, $background-dark);
	transition:
		color 100ms,
		background-color 100ms,
		border-color 100ms,
		box-shadow 100ms;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
}
