// ----------------------------------------------------------------------------
// typeface

$font: var(--font);
$font-headings: var(--font, $font);

// ----------------------------------------------------------------------------
// border

$border-radius: var(--border-radius, 0.3125rem);

// ----------------------------------------------------------------------------
// colors

@function lighten($color, $amount) {
	@return color-mix(in oklch, $color, white $amount);
}

@function darken($color, $amount) {
	@return color-mix(in oklch, $color, black $amount);
}

@function mix($color1, $color2) {
	@return color-mix(in oklch, $color1, $color2);
}

$primary: var(--primary, #2563eb);
$primary-light: var(--primary-light, $primary);
$primary-dark: var(--primary-dark, darken($primary, 10%));
$secondary: var(--secondary, var(--primary, #db2777));
$secondary-light: var(--secondary-light, $secondary);
$secondary-dark: var(--secondary-dark, darken($secondary, 10%));

$background-light: var(--background-light, #f5f5f5);
$background-primary-light: var(--background-primary-light, $primary-light);
$background-secondary-light: var(
	--background-secondary-light,
	$secondary-light
);

$background-dark: var(--background-dark, #222);
$background-primary-dark: var(--background-primary-dark, $primary-dark);
$background-secondary-dark: var(--background-secondary-dark, $secondary-dark);

$text-light: var(--text-light, #2a2a2a);
$text-primary-light: var(--text-primary-light, darken($primary-light, 10%));
$text-secondary-light: var(
	--text-secondary-light,
	darken($secondary-light, 10%)
);

$text-dark: var(--text-dark, #fafafa);
$text-primary-dark: var(--text-primary-dark, lighten($primary-dark, 15%));
$text-secondary-dark: var(--text-secondary-dark, lighten($secondary-dark, 15%));

$contrast-primary-light: var(--contrast-primary-light, white);
$contrast-secondary-light: var(--contrast-secondary-light, white);
$contrast-primary-dark: var(--contrast-primary-dark, white);
$contrast-secondary-dark: var(--contrast-secondary-dark, white);
