@use "/src/lib/util.scss" as *;

main {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;

	.body {
		flex-grow: 1;
		flex-shrink: 0;
		flex-basis: auto;
	}

	footer {
		flex-shrink: 0;
	}
}
