@use "/src/lib/util.scss" as *;

span {
	position: relative;
	display: inline-flex;
	align-items: center;
	gap: 0.875rem;
	font-weight: 500;
	border: none;
	transition: all 100ms;
	cursor: pointer;

	&:hover {
		color: light-dark(
			mix($text-light, $text-primary-light),
			mix($text-dark, $text-primary-dark)
		);
	}

	&.button,
	&.outline {
		padding: 0.75rem 0.875rem;
		border-radius: $border-radius;
	}

	&.button {
		color: light-dark($contrast-primary-light, $contrast-primary-dark);
		background-color: light-dark(
			$background-primary-light,
			$background-primary-dark
		);
		box-shadow: 0 0.0625rem 0.125rem rgb(0 0 0 / 0.1);

		&:hover {
			color: light-dark($contrast-primary-light, $contrast-primary-dark);
			background-color: light-dark(
				lighten($background-primary-light, 10%),
				lighten($background-primary-dark, 10%)
			);
		}
	}

	&.outline {
		color: light-dark($contrast-primary-light, $contrast-primary-dark);
		background-color: transparent;
		border: 0.0625rem solid
			light-dark($contrast-primary-light, $contrast-primary-dark);

		&:hover {
			background-color: #fff3;
		}
	}
}
